.git
.github
.pnpm-store
node_modules
**/node_modules
**/.next
**/dist
**/coverage
**/*.spec.ts
**/*.test.ts
**/*.test.tsx
apps/api/test
docs
.env
.env.*
!.env.example
*.log
README.md
CONTRIBUTING.md
